<div class="form-left-col">
    <label>Employee Id:</label>
    <input id="empid" name="empid" type="text" value="<%= empid %>" disabled/>

    <label>First Name:</label>
    <input type="text" id="firstName" name="firstName" value="<%= firstName %>" required/>

    <label>Last Name:</label>
    <input type="text" id="lastName" name="lastName" value="<%= lastName %>"/>

    <label>Email Id:</label>
    <input type="text" id="emailId" name="emailId" value="<%= emailId %>"/>

    <label>Date of Joining:</label>
    <input type="text" id="doj" name="doj" value="<%= doj %>"/>

    <label>Date of Birth:</label>
    <input type="text" id="dob" name="dob" value="<%= dob %>"/>

    <label>Phone Num:</label>
    <input type="text" id="phoneNum" name="phoneNum" value="<%= phoneNum %>"/>

    <button class="save">Save</button>
    <button class="delete">Delete</button>
</div>